# Mac stuff, ignore
.DS_Store


# maven target (we definitely do not want this one in git)
target/

# Java / Intellij stuff
.classpath
.project
.settings/

dev/

# Ignore Intellij files
.idea/
*.iml

# Ignore Sublime files
*.sublime-project
*.sublime-workspace